<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue之v-if-else-show-hide</title>
</head>
<body>
    <div id="app">
        <!-- v-if的值,如果为true,标签内容显示,如果为false,则标签被干掉
                v-else如果要使用的话,必须和v-if连用. -->
        <p>v-if的使用</p>
        <p v-if="msg">这是p标签</p>
        <p>v-else</p>
        <p v-if="msg">这是p标签</p>
        <p v-else>这是else部分</p>
        
        <p>v-show</p>
        <!-- v-show的值如果为true,则正常显示,如果为false,则用样式隐藏 -->
        <p v-show="msg">这是show标签</p>
        
        <p>v-hide</p>
        <p v-hide="msg">这是hide标签</p>
    </div>
</body>
</html>
<script src="./vue.js"></script>
<script>
    //实例化
    var vm=new Vue({
        data:function(){
            return{
                msg:true
            }
        }
    })
    vm.$mount('#app');
</script>